.crypto_main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
  height: 80rem;
 
}
.crypto_left {
  align-items: center;
  width: 49%;
  
}
.crypto_right {
 width: 60rem;
 height: 60rem;
 width: 49%;

}

.crypto_right  img{
  margin: 8rem 0rem 8rem 9rem;
  width: 64rem;
 height: 64rem;
 position: absolute;
 left: 43rem;
 
 }
.crypto_left_text:first-of-type p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.6rem;
  text-transform: uppercase;
  color: #777E91;

}
.crypto_left_text:nth-child(2) p {
  margin-top: 2rem;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 6.4rem;
  line-height: 6.4rem;
    letter-spacing: -0.02em;
    color: #FCFCFD;
}

.crypto_left_text:nth-child(3) p {
  margin-top: 2rem;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #777E91;
}
.crypto_left_buttons {
  margin-top: 3rem;
  
  margin-left: -2rem;
}

@media (max-width: 768px) {
  .crypto_left {
    margin-left: 5rem;
  }
  .crypto_right {
    width: 60rem;
    height: 60rem;
    width: 45%;
   
   }
   
   .crypto_right  img{
     margin: 8rem 5rem 8rem 1rem;
     width: 60rem;
    height: 60rem;
    position: absolute;
    left: 43rem;
    
    }
}

@media (max-width: 380px) {
  .crypto_main {
    flex-direction: column;
    text-align: center;
    position: relative;
    height: 180rem;
    width: 100%;
  }
  .crypto_left {
    width: 90%;
    margin-top: 12rem;
    position: relative;
  }
  .crypto_right {
    position: relative;
    width: 90%;
    margin-bottom: 12rem;
    text-align: center;
    margin: 0;
    justify-content: center;
    overflow: hidden;
    height: 124rem;
  }
  .crypto_right img {
    margin-left: -45rem;
    margin-right: 0rem;
    margin-top: 1rem;
    width: 110rem;
    height: 110rem;
    text-align: center;
      }
      .crypto_left_buttons {
        flex-direction: column;
      }

      .button_wallet {
        display: block;
        width:90%;
      }
      .button_wallet:first-child svg{
       
        width:90%;
      }
    }