/*footer*/

.footer_base {
  padding: 8rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #777e91;
  position: relative;
}
.footer_column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.footer_base2 {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 2rem;
  color: #777e91;
  flex: none;
  order: 0;
  flex-grow: 0;
  position: relative;
}
.footer_base2 span {
  color: #3772ff;
}
.footer_logo img {
  //height: 3.2rem;
  margin-left: -7rem;
  margin-top: -2.5rem;
}
.footer_text {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 3.2rem;
  letter-spacing: -0.01em;
  color: #e6e8ec;
  position: relative;
}

.footer_link1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #fcfcfd;
  position: relative;
}
.footer_link {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: #777e91;
  position: relative;
}
.footer_link:hover,
.footer_link:active {
  color: #fcfcfd;
  box-shadow: 0 1rem 2 rem rgba(#fcfcfd, 0.4);
  transform: scale(1.05);
}
.footer_search {
  margin-top: 5rem;
  // box-sizing: border-box;
  width: 35.2rem;
  height: 4.8rem;
  border: 0.2rem solid #353945;
  border-radius: 9rem;
  position: relative;
}

.header_input1 {
  font-family: inherit;
  font-size: inherit;
  background-color: #141416;
  border: #777e90 solid;
  padding: 2rem 1.3rem 1rem 1.3rem;
  border-radius: 0.8rem;
  width: 25.6rem;
  transition: all 0.2s;
  margin-right: -3.25rem;
}
.header_search1 {
  width: 1.7rem;
  height: 1.7rem;
}
@media (max-width: 380px) {
  .footer_base {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 5rem;
  }
  .footer_column {
    padding-top: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
  }
  .footer_column:not(:last-child) {
    border-bottom: 0.2rem solid #353945;
  }
  .footer_base2 {
    margin-left: 7rem;
    font-size: 3.6rem;
    line-height: 6rem;
  }

  .footer_text {
    margin-left: 7rem;
    font-size: 7.2rem;
    line-height: 9.6rem;
    margin-bottom: 5rem;
    padding-bottom: 5rem;
    // border-bottom: .2rem solid #353945;
  }

  .footer_link1 {
    height: auto;
    margin-left: 7rem;
    font-size: 4.8rem;
    line-height: 7.2rem;
    margin-bottom: 5rem;
  }
  .footer_email {
    height: 30rem;
  }
  .footer_link {
    margin-left: 7rem;
    font-size: 4.2rem;
    line-height: 4.8rem;
    margin-bottom: 5rem;
  }
  .footer_search {
    margin-left: 5rem;
    display: block;

    width: 90rem;
    height: 14.4rem;
  }
  .footer_logo img {
    height: 26rem;
    margin-left: -15rem;
  }
  .footer_label p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 4.2rem;
    line-height: 7.2rem;
    color: #fcfcfd;
    margin-left: 7rem;
  }
  br {
    display: none;
  }
  .footer_email {
    display: block;
  }
  .header_input1 {
    margin-top: 5rem;
    margin-left: 7rem;
    width: 76rem;
    margin-right: -9rem;
    padding: 6rem 4rem 3rem 4rem;
    border-radius: 3rem;
    align-items: center;
  }
  .header_search1 {
    width: 5.1rem;
    height: 5.1rem;
    align-items: center;
  }
  .header_search1 svg {
    align-items: center;
  }

  input[type='email'] {
    font-weight: bold;

    font-size: 4.2rem;
    line-height: 4.8rem;
  }
}
