.header {
  border-bottom: .1rem solid #353945;
  text-align: center;
  width: 100%;
 
}
.navigation {
  display: grid;
 grid-template-columns:17% 5% 8% 15% 26% 4% 12% 15%;// auto auto auto auto auto auto auto auto;// ;
  box-sizing: border-box;
margin: 0;
 align-items: center;
  padding: 0;
}
.header_block_logo {
  margin-left: -7rem;
}
.header_block_how {
  margin-right: auto;
  margin-left: 5rem;
}

.search {
 margin-right: 3rem;
}

.logo svg {
  width: 12.6rem;
 margin-left: -7rem;
}
.line {
  color: #353945;
  width: 0.2rem;
  height: 4rem;
}

.divider {
  color: white;
  width: 1rem;
  height: 4rem;
 
}


.header_input {
  font-family: inherit;
  font-size: inherit;
  background-color: #141416;
  border: #777e90 solid;
  padding: 1.15rem 1.15rem;
  border-radius: 0.8rem;
  width: 25.6rem;
  transition: all 0.2s;
  margin-right: -3.25rem;
}
.header_search {
  width: 1.7rem;
  height: 1.7rem;
  
}

.wall_but svg{
  width: 13.7rem;
  height: 4rem;
}
.notification {
  height: 4rem;
  width: 4rem;

}
.notification1 {
  height: 4rem;
  width: 4rem;

}

input {
  color: grey;
}


.upload_header {
  display: flex;
  justify-content: space-between;
  height: 8.1rem;
  align-items: center;
  margin: 0;
  padding: 0;
 

}

.header__logo {
  margin-right: 2rem;
}
.header__link p {
  margin-right: 4rem;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.6rem;
  text-align: center;
  color: #777e91;
}
.button_upload  {
width: 8rem;
height: 4rem;
}

.button_wallet {
  width: 13.7rem;
height: 4rem;
}

.header_burger svg {
  display: none;
}
/*media*/

@media (max-width: 70em) {
 .discover, .divider, .header_block_how, .discover a, .header_link1 a, .header_block_discover  {
  display: none;
 }
 
 .navigation {
  display: grid;
  grid-template-columns: 22%  8% 8% 30% 5% 10% 19%;
  
 
 margin: 0;
  align-items: center;
   padding: 0;
 }

 .header {
  border-bottom: .1rem solid #141416;
 }
 .header_burger svg {
  display: none;
 }
}

@media (max-width: 38em) {
  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 4rem 1rem 1rem 1rem;
    
  }
 
  .header_burger svg{
    display: inline-block;
    width: 6.4rem;
    height: 6.4rem;
    
   }
   .header_block_wallet, .header_button_upload, .header_notification, .header_input, .header_search {
    display: none;
   }
   .notification1 {
    height: 8rem;
    width: 8rem;
  
  }
}

@media (max-width: 380px) {
  .header_block_logo img {
    width: 57rem;
    margin-left: -7rem;
  }
  .header_burger svg {
    width: 9rem;
    margin-right: 5rem;
  }
  
}