.hero {
  display: flex;
  //align-items: center;
  justify-content: center;
  
  flex-direction: column;
 margin: 0 auto;
  width: auto;
}


.container_button_hero {
  text-align: center;
}
.button_hero {
  width: 18.2rem;
  //margin-left: 16rem;
  text-align: center;
  padding: 0;
  
  margin-top: -2rem;
}
.hero_text1 {
  margin-top: 15rem;
  color: #777e90;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 1.2rem;
  text-align: center;
}

.hero_text2 {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 4rem;
  line-height: 4.8rem;
  text-align: center;
  letter-spacing: -0.01em;
  color: #fcfcfd;
}

.hero_item {
  position: relative;
  width: 112rem;
  display: flex;
  
}
.hero_video {
  width: 69%;
  margin-top: 0;
  margin-left: 3rem;
}
.hero_video img {
  max-width: 64rem;
  border-radius: 1.6rem;;
}
.hero_creator {
  width: 30%;
  box-sizing: border-box;
  margin-left: auto;
  text-align: left;
 // align-items: center;
  margin: 0;
  padding: 0;
  margin-top: 0rem;

}
.creator_text {
  margin-top: auto;
  align-items: center;
 // text-align: left;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 6.4rem;
  line-height: 6.4rem;
  letter-spacing: -0.02em;
  color: #fcfcfd;
}

.creator_frame svg {
 height: 29.6rem;
  margin: 0;
  margin-bottom: 1rem;
  margin-top: 1rem;
  width: 35rem;
}

.creator_place_bid {
  margin-top: 0;
  width: 35.2rem;
  height: 4.8rem;
  margin-bottom: 1rem;
}

.creator_price {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: auto;
  height: 4.4rem;

}
.creator_avatar  svg{
  width: 35.2rem;
}
.place_bid {
  padding: 0;
  margin: 0;
  width: 35.2rem;
  height: 4.8rem;
}

.hero_items {
  text-align: center;
  margin-top: 15rem;
  margin-bottom: 10rem;
  width: 112rem;
  
  display: grid;
  grid-template-columns: 44% 37% 18%;
  grid-gap: 0.1rem;
  height: auto;

  
    position: relative;
  
    
  
}

.hero_items1 {
  display: grid;
  grid-template-rows: 70% 30%;
  grid-gap: 0.1rem;
  
}

.hero_items1_pic img{
  width: 44.84em;
  border-radius: 1.6rem;
  
}

.hero_items1_desc svg {
  width: 44.8rem;
  
}

.hero_items2 {
  display: grid;
  grid-template-rows: 32% 32% 32%;
  margin-right: auto;
  border-right: solid 1px #353945;
}

.hero_items2_item {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 0.01rem;
}
.hero_items2_item_pic img {
  width: 16rem;
  height: 14rem;
  border-radius: 1.2rem;
}
.place_bid_transp,
.place_bid_blue {
  width: 9.8rem;
  height: 3.2rem;
}

.desc_text p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #fcfcfd;
  margin-top: 1.2rem;
}
.eth {
  width: 6.6rem;
}

.hero_desc_number {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #777e91;
}
.client {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2.6rem;
  padding-right: 2.5rem;
  margin-bottom: 1.2rem;
  margin-top: 1rem;
}

.hero_desc_avatar img {
  border-radius: 50%;
  background-color: #9757d7;
}

.discover_more {
  width: 15.8rem;
}

.items3_item {
  margin-top: 2.3rem;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 0.01rem;
  height: 8.3rem;
}

.border {
  border-bottom: solid 1px #353945;
}
.items3_text {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: #fcfcfd;
  margin-left: 0;
}
.items3_text span {
  color: #777e90;
}
.items3_avatar {
  margin-right: 0;
  width: 5.6rem;
}

/*media*/
@media (max-width: 70em) {
  .hero_creator {
    width: 37%;
  }
  .hero_video {
    width: 62%;
  }
  .hero_items {
    
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-gap: 0.1rem;
    position: relative;
  }
 
  .hero_items1 {
    
    grid-column-start: 1;
   grid-column-end: 2;
   grid-row-start: 1;
   grid-row-end: 2;
   width: 100%;
  }
  .hero_items3 {
    
    grid-column-start: 1;
   grid-column-end: 3;
   grid-row-start: 2;
   grid-row-end: 3;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
  }
  .hero_items2 {
    
    grid-column-start: 2;
   grid-column-end: 3;
   grid-row-start: 1;
   grid-row-end: 2;
   text-align: center;
   width: 100%;
   border-right: #141416;
  }
  .items3_button, .items3_attention {
    display: none;
  }
  .items3_item {
    width: 90%;
    margin-right: 6rem;
    
   
  }
 .items3_text {
  width: 96%;
 }
 .border {
  border-bottom: #141416;
 }

 .hero_items1_desc svg {
  margin-top: -5rem;
  
}
/*sellers item*/

 

}
  



@media (max-width: 48em) {
  .hero_item {
    margin-top: 6rem;
  }
  .hero_creator {
    width: 35%;
  }
  .hero_video {
    width: 64%;
    text-align: center;
  }
}
@media (max-width: 38em) {
  .hero_text1 {
    font-size: 2.4rem;
    line-height: 2.4rem;
}
  .hero_text2 {
    font-size: 8rem;
  margin-top: 4rem;
    text-align: center;
    margin-right: 2rem; 
   margin-right: 13rem;
   margin-left: 13rem;
   line-height: 8rem;
    

}
.hero_text_container {
 align-items: center;
 text-align: center;
 box-sizing: border-box;

 
}
.button_hero {
  width: 36rem;
  margin-top: 4rem;
}

}

@media (max-width: 380px) {
  .hero_item {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .hero_creator {
    width: auto;
    margin: 0 auto;
  }
  .hero_video {
    width: auto;
    margin: 0 auto;
    box-sizing: border-box;
  }
  .creator_text {
    margin-top: auto;
    align-items: center;
   // text-align: left;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12.8rem;
    line-height: 12.8rem;
    letter-spacing: -0.02em;
    color: #fcfcfd;
  }
  
  .creator_frame svg {
   height: 69rem;
    margin: 0;
    margin-bottom: 1rem;
    margin-top: 1rem;
    width: 70rem;
  }
  
  .creator_place_bid {
    margin-top: 0;
    width: 70.4rem;
    height: 9.6rem;
    margin-bottom: 1rem;
  }
  
  .creator_price {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: auto;
    height: 8.8rem;
  
  }
  .creator_avatar  svg{
    width: 70.4rem;
  }
  .place_bid {
    padding: 0;
    margin: 0;
    width: 70.4rem;
    height: 9.6rem;
  }

  /*items 3*/
  .hero_items2 {
    display: none;
  }
  .hero_items {
    
    
    display: block;
    
  }
  .hero_items1 img{
    
width: 70%;
text-align: center;
overflow: hidden;
  }
  .hero_items1_desc svg {
    width: 77rem;
    
  }
  .mobile3 {
    display: none;
  }
  .hero_items3 {
    width: 70%;
    text-align: center;
    margin: 0 auto;
  }

  
}