.item_columns {
  margin-top: 9.6rem;
  padding-bottom: 9.6rem;
  display: flex;
  width: 100%;
  gap: 9.6rem;
  border-bottom: .1rem solid  #353945;
}
.item_column_left {
  width: 64rem;
  height:76.8rem;
  overflow: hidden;
  border-radius: 1.6rem;
}
.item_column_left img{
  width: 64rem;
  height:76.8rem;
  border-radius: 1.6rem;
}

.item_column_right {
  width: 39%;
  display: flex;
  flex-direction: column;
}
.item_blocks_title1 p  {
    font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 4rem;
  line-height: 4.8rem;
  letter-spacing: -0.01em;
  color: #FCFCFD;
  margin-bottom: 2rem;
}
.item_blocks p {
  margin-top: 4.6rem;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #777E91;

}

.item_blocks_border {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 38rem;
  height: 4rem;
  border: .2rem solid #353945;
  border-radius: 3.6rem;
  background-color: #141416;
}
.item_blocks_border .first_info a{
  width: 5rem;
height: 2.8rem;
background: #E6E8EC;
border-radius: 10rem;
font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 1.4rem;
line-height: 1.6rem;
display: flex;
align-items: center;
padding: 1rem;
color: #23262F;

}
.item_links a {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.6rem;
  display: flex;
  align-items: center;
  color: #777E91;

}
.item_links:hover:not(:first-child) a {

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.6rem;
  display: flex;
  align-items: center;
  color: #FCFCFD;
  box-shadow: 0 1rem 2 rem rgba(#FCFCFD, .4);
  transform:  scale(1.1);
}
.item_blocks_fixed {
  margin-top: 3rem;
  width: 384px;
  height: 24rem;
  border: .1rem solid  #777E91;
  box-shadow: 0px 6.4rem 6.4rem -4.8rem rgba(31, 47, 70, 0.12);
  border-radius: 1.6rem;
  background:#23262F
}

.item_frame {
  padding: 2rem;
}
.item_buttons {
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: 1rem;
  justify-content: space-evenly;
  display: flex;
}
.button_item {
  height: 4.8rem;
  width: 16.4rem;
  
}
.button_item svg{
  height: 4.8rem;
  width: 16.4rem;
  
}
.button_item:hover{
  transform: scale(1.05);
  
  
}
.item_price p {
  margin-top: 1rem;
  margin-left: 2rem;
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 1.4rem;
line-height: 2.4rem;
color: #777E91;

}

.item_price span {
 color: #FCFCFD;
}