@mixin centered {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin even {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


@mixin larger {
  box-shadow: 0 1rem 2rem rgba(#FCFCFD, .4);
  transform:  scale(1.01);
}
// @mixin circle ($width, $height, $border-radius) {
//   width: $width;
//   height: $height;
//   border-radius: $border-radius;
// }
// @mixin font ($weight, $size, $height) {
//   font-weight: $weight;
//   font-size: $size;
//   line-height: $height;
// }
// @mixin after-line ($width) {
//   content: '';
//   display: block;
//   width: $width;
//   height: .3rem;
//   margin-top: .5rem;
//   background-color: $back-others;
// }
