*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus:not(:focus-visible) {
  outline: none;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 0.625vw;
  font-style: normal;
  font-weight: normal;
  -webkit-animation: bugfix infinite 1s;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}

body {
  font-style: normal;
  font-weight: normal;
  -webkit-animation: bugfix infinite 1s;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  color: #fcfcfd;
  background-color: #141416;
}

input,
textarea {
  -webkit-animation: bugfix infinite 1s;
  line-height: inherit;
  margin: 0;
  padding: 0;
}

a {
  color: unset;
}

a,
a:hover {
  text-decoration: none;
}

button,
input,
a,
textarea {
  outline: none;
  cursor: pointer;
  font: inherit;
}
button:focus,
input:focus,
a:focus,
textarea:focus {
  outline: none;
}
button:active,
input:active,
a:active,
textarea:active {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: inherit;
  margin: 0;
  padding: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

button {
  border: none;
  color: inherit;
  font: inherit;
  text-align: inherit;
  padding: 0;
  background-color: inherit;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  width: 112rem;
  margin: 0 auto;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

@media (max-width: 48em) {
  html {
    font-size: 1.5625vw;
    -webkit-text-size-adjust: none;
  }
  body {
    -webkit-text-size-adjust: none;
  }
  .container {
    padding: 0 0rem;
    width: 112rem;
  }
}
/*media*/
@font-face {
  font-family: "DM Sans";
  src: url("../fonts/DMSans-Regular.eot");
  src: local("../fonts/DM Sans Regular"), local("../fonts/DMSans-Regular"), url("../fonts/DMSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/DMSans-Regular.woff2") format("woff2"), url("../fonts/DMSans-Regular.woff") format("woff"), url("../fonts/DMSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "DM Sans";
  src: url("../fonts/DMSans-Medium.eot");
  src: local("../fonts/DM Sans Medium"), local("../fonts/DMSans-Medium"), url("../fonts/DMSans-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/DMSans-Medium.woff2") format("woff2"), url("../fonts/DMSans-Medium.woff") format("woff"), url("../fonts/DMSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "DM Sans";
  src: url("../fonts/DMSans-MediumItalic.eot");
  src: local("../fonts/DM Sans Medium Italic"), local("../fonts/DMSans-MediumItalic"), url("../fonts/DMSans-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/DMSans-MediumItalic.woff2") format("woff2"), url("../fonts/DMSans-MediumItalic.woff") format("woff"), url("../fonts/DMSans-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "DM Sans";
  src: url("../fonts/DMSans-BoldItalic.eot");
  src: local("../fonts/DM Sans Bold Italic"), local("../fonts/DMSans-BoldItalic"), url("../fonts/DMSans-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/DMSans-BoldItalic.woff2") format("woff2"), url("../fonts/DMSans-BoldItalic.woff") format("woff"), url("../fonts/DMSans-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "DM Sans";
  src: url("../fonts/DMSans-Italic.eot");
  src: local("../fonts/DM Sans Italic"), local("../fonts/DMSans-Italic"), url("../fonts/DMSans-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/DMSans-Italic.woff2") format("woff2"), url("../fonts/DMSans-Italic.woff") format("woff"), url("../fonts/DMSans-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "DM Sans";
  src: url("../fonts/DMSans-Bold.eot");
  src: local("../fonts/DM Sans Bold"), local("../fonts/DMSans-Bold"), url("../fonts/DMSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/DMSans-Bold.woff2") format("woff2"), url("../fonts/DMSans-Bold.woff") format("woff"), url("../fonts/DMSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-ExtraLightItalic.eot");
  src: local("Poppins ExtraLight Italic"), local("Poppins-ExtraLightItalic"), url("../fonts/Poppins-ExtraLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-ExtraLightItalic.woff") format("woff"), url("../fonts/Poppins-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-ExtraBoldItalic.eot");
  src: local("Poppins ExtraBold Italic"), local("Poppins-ExtraBoldItalic"), url("../fonts/Poppins-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-ExtraBoldItalic.woff") format("woff"), url("../fonts/Poppins-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-ExtraBold.eot");
  src: local("Poppins ExtraBold"), local("Poppins-ExtraBold"), url("../fonts/Poppins-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-ExtraBold.woff") format("woff"), url("../fonts/Poppins-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Thin.eot");
  src: local("Poppins Thin"), local("Poppins-Thin"), url("../fonts/Poppins-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-Thin.woff") format("woff"), url("../fonts/Poppins-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-BoldItalic.eot");
  src: local("Poppins Bold Italic"), local("Poppins-BoldItalic"), url("../fonts/Poppins-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-BoldItalic.woff") format("woff"), url("../fonts/Poppins-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBoldItalic.eot");
  src: local("Poppins SemiBold Italic"), local("Poppins-SemiBoldItalic"), url("../fonts/Poppins-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-SemiBoldItalic.woff") format("woff"), url("../fonts/Poppins-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Black.eot");
  src: local("Poppins Black"), local("Poppins-Black"), url("../fonts/Poppins-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-Black.woff") format("woff"), url("../fonts/Poppins-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-ThinItalic.eot");
  src: local("Poppins Thin Italic"), local("Poppins-ThinItalic"), url("../fonts/Poppins-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-ThinItalic.woff") format("woff"), url("../fonts/Poppins-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.eot");
  src: local("Poppins Medium"), local("Poppins-Medium"), url("../fonts/Poppins-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-Medium.woff") format("woff"), url("../fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-ExtraLight.eot");
  src: local("Poppins ExtraLight"), local("Poppins-ExtraLight"), url("../fonts/Poppins-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-ExtraLight.woff") format("woff"), url("../fonts/Poppins-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-LightItalic.eot");
  src: local("Poppins Light Italic"), local("Poppins-LightItalic"), url("../fonts/Poppins-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-LightItalic.woff") format("woff"), url("../fonts/Poppins-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.eot");
  src: local("Poppins Regular"), local("Poppins-Regular"), url("../fonts/Poppins-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-Regular.woff") format("woff"), url("../fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-MediumItalic.eot");
  src: local("Poppins Medium Italic"), local("Poppins-MediumItalic"), url("../fonts/Poppins-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-MediumItalic.woff") format("woff"), url("../fonts/Poppins-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBold.eot");
  src: local("Poppins SemiBold"), local("Poppins-SemiBold"), url("../fonts/Poppins-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-SemiBold.woff") format("woff"), url("../fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Light.eot");
  src: local("Poppins Light"), local("Poppins-Light"), url("../fonts/Poppins-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-Light.woff") format("woff"), url("../fonts/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-BlackItalic.eot");
  src: local("Poppins Black Italic"), local("Poppins-BlackItalic"), url("../fonts/Poppins-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-BlackItalic.woff") format("woff"), url("../fonts/Poppins-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Italic.eot");
  src: local("Poppins Italic"), local("Poppins-Italic"), url("../fonts/Poppins-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-Italic.woff") format("woff"), url("../fonts/Poppins-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.eot");
  src: local("Poppins Bold"), local("Poppins-Bold"), url("../fonts/Poppins-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-Bold.woff") format("woff"), url("../fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
.header {
  border-bottom: 0.1rem solid #353945;
  text-align: center;
  width: 100%;
}

.navigation {
  display: grid;
  grid-template-columns: 15% 4% 6% 21% 26% 4% 12% 11%;
  box-sizing: border-box;
  margin: 0;
  align-items: center;
  padding: 0;
}

.header_block_logo {
  margin-left: -7rem;
}

.header_block_how {
  margin-right: auto;
  margin-left: 5rem;
}

.search {
  margin-right: 3rem;
}

.logo svg {
  width: 12.6rem;
  margin-left: -7rem;
}

.line {
  color: #353945;
  width: 0.2rem;
  height: 4rem;
}

.divider {
  color: white;
  width: 1rem;
  height: 4rem;
}

.header_input {
  font-family: inherit;
  font-size: inherit;
  background-color: #141416;
  border: #777e90 solid;
  padding: 1.15rem 1.15rem;
  border-radius: 0.8rem;
  width: 25.6rem;
  transition: all 0.2s;
  margin-right: -3.25rem;
}

.header_search {
  width: 1.7rem;
  height: 1.7rem;
}

.wall_but svg {
  width: 13.7rem;
  height: 4rem;
}

.notification {
  height: 4rem;
  width: 4rem;
}

input {
  color: grey;
}

/*
.header_main {
  border-bottom: 0.2rem solid #353945;
  align-items: center;
  margin: 0;

}*/
.upload_header {
  display: flex;
  justify-content: space-between;
  height: 8.1rem;
  align-items: center;
  margin: 0;
  padding: 0;
}

.header__logo {
  margin-right: 2rem;
}

.header__link p {
  margin-right: 4rem;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.6rem;
  text-align: center;
  color: #777e91;
}

.button_upload {
  width: 80px;
  height: 40px;
}

.button_wallet {
  width: 137px;
  height: 40px;
}

.header_burger svg {
  display: none;
}

/*media*/
@media (max-width: 70em) {
  .discover, .divider, .header_block_how {
    display: none;
  }
  .navigation {
    display: grid;
    grid-template-columns: 25% 5% 25% 5% 15% 15%;
    margin: 0;
    align-items: center;
    padding: 0;
  }
  .header {
    border-bottom: 0.1rem solid #141416;
  }
  .header_burger svg {
    display: none;
  }
}
@media (max-width: 38em) {
  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 4rem 1rem 1rem 1rem;
  }
  .header_burger svg {
    display: inline-block;
    width: 6.4rem;
    height: 6.4rem;
  }
  .header_block_wallet, .header_button_upload, .header_notification, .header_input, .header_search {
    display: none;
  }
}
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
}

.container_button_hero {
  text-align: center;
}

.button_hero {
  width: 18.2rem;
  text-align: center;
  padding: 0;
  margin-top: -2rem;
}

.hero_text1 {
  margin-top: 15rem;
  color: #777e90;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 1.2rem;
  text-align: center;
}

.hero_text2 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 4rem;
  line-height: 4.8rem;
  text-align: center;
  letter-spacing: -0.01em;
  color: #fcfcfd;
}

.hero_item {
  position: relative;
  width: 112rem;
  display: flex;
}

.hero_video {
  width: 69%;
  margin-top: 0;
  margin-left: 0;
}

.hero_video img {
  max-width: 64rem;
  border-radius: 1.6rem;
}

.hero_creator {
  width: 30%;
  box-sizing: border-box;
  margin-left: auto;
  text-align: left;
  margin: 0;
  padding: 0;
  margin-top: 0rem;
}

.creator_text {
  margin-top: auto;
  align-items: center;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 6.4rem;
  line-height: 6.4rem;
  letter-spacing: -0.02em;
  color: #fcfcfd;
}

.creator_frame svg {
  height: 29.6rem;
  margin: 0;
  margin-bottom: 1rem;
  margin-top: 1rem;
  width: 35rem;
}

.creator_place_bid {
  margin-top: 0;
  width: 35.2rem;
  height: 4.8rem;
  margin-bottom: 1rem;
}

.creator_price {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: auto;
  height: 4.4rem;
}

.creator_avatar svg {
  width: 35.2rem;
}

.place_bid {
  padding: 0;
  margin: 0;
  width: 35.2rem;
  height: 4.8rem;
}

.hero_items {
  margin-top: 15rem;
  width: 112rem;
  position: relative;
  display: grid;
  grid-template-columns: 44% 37% 18%;
  grid-gap: 0.1rem;
}

.hero_items1 {
  display: grid;
  grid-template-rows: 70% 30%;
  grid-gap: 0.1rem;
}

.hero_items1_pic {
  width: 44.84em;
  overflow: hidden;
}

.hero_items1_desc svg {
  width: 44.8rem;
}

.hero_items2 {
  display: grid;
  grid-template-rows: 32% 32% 32%;
  margin-right: auto;
  border-right: solid 1px #353945;
}

.hero_items2_item {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 0.01rem;
}

.hero_items2_item_pic img {
  width: 16rem;
  height: 14rem;
  border-radius: 1.2rem;
}

.place_bid_transp,
.place_bid_blue {
  width: 9.8rem;
  height: 3.2rem;
}

.desc_text p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #fcfcfd;
  margin-top: 1.2rem;
}

.eth {
  width: 6.6rem;
}

.hero_desc_number {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #777e91;
}

.client {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2.6rem;
  padding-right: 2.5rem;
  margin-bottom: 1.2rem;
  margin-top: 1rem;
}

.hero_desc_avatar img {
  border-radius: 50%;
  background-color: #9757d7;
}

.discover_more {
  width: 15.8rem;
}

.items3_item {
  margin-top: 2.3rem;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 0.01rem;
  height: 8.3rem;
}

.border {
  border-bottom: solid 1px #353945;
}

.items3_text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: #fcfcfd;
  margin-left: 0;
}

.items3_text span {
  color: #777e90;
}

.items3_avatar {
  margin-right: 0;
  width: 5.6rem;
}

/*media*/
@media (max-width: 70em) {
  .hero_creator {
    width: 37%;
  }
  .hero_video {
    width: 62%;
  }
}
@media (max-width: 48em) {
  .hero_item {
    margin-top: 6rem;
  }
  .hero_creator {
    width: 35%;
  }
  .hero_video {
    width: 64%;
    text-align: center;
  }
}
@media (max-width: 38em) {
  .hero_text1 {
    font-size: 2.4rem;
    line-height: 2.4rem;
  }
  .hero_text2 {
    font-size: 8rem;
    margin-top: 4rem;
    text-align: center;
    margin-right: 2rem;
    margin-right: 13rem;
    margin-left: 13rem;
    line-height: 8rem;
  }
  .hero_text_container {
    align-items: center;
    text-align: center;
    box-sizing: border-box;
  }
  .button_hero {
    width: 36rem;
    margin-top: 4rem;
  }
}
@media (max-width: 380px) {
  .hero_item {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .hero_creator {
    width: auto;
    margin: 0 auto;
  }
  .hero_video {
    width: auto;
    margin: 0 auto;
    box-sizing: border-box;
  }
  .creator_text {
    margin-top: auto;
    align-items: center;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 12.8rem;
    line-height: 12.8rem;
    letter-spacing: -0.02em;
    color: #fcfcfd;
  }
  .creator_frame svg {
    height: 69rem;
    margin: 0;
    margin-bottom: 1rem;
    margin-top: 1rem;
    width: 70rem;
  }
  .creator_place_bid {
    margin-top: 0;
    width: 70.4rem;
    height: 9.6rem;
    margin-bottom: 1rem;
  }
  .creator_price {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: auto;
    height: 8.8rem;
  }
  .creator_avatar svg {
    width: 70.4rem;
  }
  .place_bid {
    padding: 0;
    margin: 0;
    width: 70.4rem;
    height: 9.6rem;
  }
}
.seller {
  margin-top: -2rem;
  background-color: #23262f;
  height: 66.3rem;
}

.sellers1 {
  padding-top: 15rem;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.sellers1_left svg {
  height: 1.5rem;
  margin-left: -12rem;
}

.sellers1_left p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 3.2rem;
  color: #777e91;
}

.sellers1_left span {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 4rem;
  line-height: 4.8rem;
  letter-spacing: -0.01em;
  color: #fcfcfd;
}

.sellers1_right p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.2rem;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #b1b5c4;
  margin-bottom: 1.5rem;
}

.sellers1_right {
  margin-right: 0rem;
}

.sellers1_right select {
  cursor: pointer;
  display: flex;
  background-color: #23262f;
  border-radius: 1.2rem;
  border: solid 1px #353945;
  width: 25.6rem;
  height: 4.8rem;
  overflow: hidden;
  color: #fcfcfd;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2.4rem;
  align-items: center;
  color: #fcfcfd;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background: url("../img/logo/Small_button_down.png") no-repeat right center;
  outline: 0;
}

.sellers2 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;
}

.sellers2_item {
  background-color: #141416;
  border-radius: 1.6rem;
  margin-top: 8rem;
  height: 26.3rem;
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.sellers2_item_rating {
  border-bottom: solid 1px #353945;
  height: 8.2rem;
  width: 16rem;
  align-items: center;
  text-align: center;
}

.sellers2_item_rating svg {
  margin-top: 3rem;
  height: 2rem;
  width: 15rem;
  text-align: center;
}

.sellers2_item_avatar img {
  width: 6.4rem;
  margin-top: 3rem;
}

.sellers2_item_text p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: #fcfcfd;
}

.sellers2_item_text span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 2rem;
  color: #777e91;
}

.left_button svg {
  height: 0.9rem;
  width: 1.4rem;
  margin-left: -2rem;
  margin-top: 20rem;
}

.right_button svg {
  height: 4rem;
  width: 4rem;
  margin-right: -6rem;
  margin-top: 20rem;
}

.upload_main {
  height: 92rem;
  border-bottom: 0.2rem solid #353945;
}

.upload_block_text svg:hover, .upload_nav_links1 svg:hover {
  transform: scale(1.1);
}

/* links*/
.upload_nav {
  border-bottom: 0.2rem solid #353945;
  position: relative;
  align-items: center;
  height: 8.1rem;
  padding-top: 2rem;
}

.upload_nav_links {
  align-items: center;
  height: 4rem;
  display: flex;
  justify-content: space-between;
}

.upload_nav_links_1 svg {
  width: 15.3rem;
  height: 4rem;
}

.upload_nav_links_2 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.6rem;
  text-align: center;
  color: #777e91;
}

.upload_nav_links_2 span {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.6rem;
  text-align: center;
  color: #FCFCFD;
}

/*block*/
.upload_block {
  display: flex;
  justify-content: center;
  height: 36rem;
  gap: 2.4rem;
}

.upload_block_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.6rem 1.6rem 2.4rem;
  gap: 2.4rem;
  width: 35.2rem;
  height: 36rem;
  border: 1px solid #353945;
  border-radius: 1.6rem;
}

.upload_block_text svg {
  margin-left: -6rem;
  width: 12.3rem;
  height: 4rem;
  text-align: center;
  align-items: center;
}

.upload_block_pic img:hover {
  transform: scale(1.03);
  opacity: 1.5;
}

.upload_undertext p {
  margin-top: 3rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 2rem;
  align-items: center;
  text-align: center;
  color: #777E91;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 13.1rem;
}

.upload_headline {
  margin-top: 8.1rem;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 5.6rem;
  text-align: center;
  letter-spacing: -0.02em;
  color: #FCFCFD;
}

.upload_headline2 {
  margin-top: 1.6rem;
  margin-bottom: 8.1rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.4rem;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: #777E91;
}

.upload_headline2 span {
  color: #FCFCFD;
}

/*footer*/
.footer_base {
  padding: 8rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #777E91;
}

.footer_column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer_base2 {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 2rem;
  color: #777E91;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.footer_base2 span {
  color: #3772FF;
}

.footer_logo img {
  margin-left: -7rem;
  margin-top: -2.5rem;
}

.footer_text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 3.2rem;
  letter-spacing: -0.01em;
  color: #E6E8EC;
}

.footer_link1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #FCFCFD;
}

.footer_link {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: #777E91;
}

.footer_search {
  box-sizing: border-box;
  width: 352px;
  height: 48px;
  border: 2px solid #353945;
  border-radius: 90px;
}

.wallet {
  border-bottom: 0.2rem solid #353945;
}

.wallet_base {
  height: 102rem;
  align-items: center;
  padding: 8rem 0;
}

.wallet_text {
  border-bottom: 0.2rem solid #353945;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 5.6rem;
  letter-spacing: -0.02rem;
  color: #FCFCFD;
  padding-bottom: 4rem;
}

.wallet_description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 8.1rem;
}

.wallet_item {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 3.2rem;
  color: #FCFCFD;
  padding: 2rem;
  width: 54.4rem;
  height: 12.8rem;
  border: 0.2rem solid #141416;
  border-radius: 1.6rem;
}

.wallet_item:hover {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 3.2rem;
  color: #FCFCFD;
  width: 54.4rem;
  height: 12.8rem;
  border: 0.2rem solid #353945;
  border-radius: 1.6rem;
}

.wallet_item_logo svg {
  width: 6.4rem;
  height: 6.4rem;
  align-items: center;
  margin-right: 2rem;
  text-align: center;
  margin-left: -5rem;
  margin-top: 1rem;
}

.wallet_item_text {
  align-items: center;
  margin: 2rem 0 1rem -5rem;
}

.wallet_item_text span {
  color: #141416;
}

.wallet_item:hover .wallet_item_text span {
  color: #FCFCFD;
}

.wallet_block_qr img {
  width: 44.8rem;
  height: 44.8rem;
  margin-top: 2rem;
}

.wallet_block_button svg {
  margin-top: 3rem;
  width: 19.9rem;
  height: 5.2rem;
}
.wallet_block_button svg:hover {
  transform: scale(1.05);
}

.wallet_block_text {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 4rem;
  line-height: 4.8rem;
  letter-spacing: -0.01em;
  color: #FCFCFD;
}

.wallet_block_text span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 2rem;
  color: #777E91;
}

.faq_base {
  border-bottom: 0.1rem solid #777E90;
}

.faq1 {
  margin-top: 13.2rem;
  margin-bottom: 5rem;
}

.faq1_main {
  display: flex;
  width: 100%;
  flex-direction: row;
  margin-top: 3.2rem;
}

.faq_title {
  margin-bottom: 8rem;
}

.faq1_main_menu {
  width: 30%;
}

.faq_menu_links {
  display: flex;
  margin-bottom: 3rem;
}

.faq1_main_strokes {
  width: 69%;
}

.faq1_text {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 5.6rem;
  letter-spacing: -0.02em;
  color: #FCFCFD;
}

.faq1_text2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #E6E8EC;
}

.faq1_text2 a {
  color: #3772FF;
}

.first_row {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.2rem;
  text-transform: uppercase;
  color: #777E90;
}

.faq_menu_links_logo svg {
  width: 1.6rem;
  height: 1.6rem;
}

.faq_menu_links_text {
  margin-left: 2rem;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #FCFCFD;
}

.grey {
  color: #777E91;
}

/*strokes*/
.faq2 {
  box-sizing: border-box;
}

.accordion {
  transform: translateZ(0);
  background: #141416;
  border-top: 1px solid #353945;
  align-items: center;
}

.accordion > .accordion-toggle {
  display: none;
  position: absolute;
  opacity: 0;
}

.accordion > label {
  display: block;
  position: relative;
  height: 96px;
  line-height: 50px;
  padding: 40px 5px 10px 0;
  background: #141416;
  cursor: pointer;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #FCFCFD;
  align-items: center;
}

.accordion > label:after {
  content: "";
  position: absolute;
  top: 42px;
  right: 20px;
  width: 8px;
  height: 8px;
  border-left: 2px solid #555;
  border-top: 2px solid #555;
  transform: rotate(-135deg);
  transition: 0.4s transform;
}

.accordion > section {
  overflow: hidden;
  height: 0;
  transition: all 0.4s;
}

.accordion > .accordion-toggle:checked ~ label:after {
  transform: rotate(45deg);
  top: 16px;
}

.accordion > .accordion-toggle:checked ~ section {
  height: 24rem;
}

.accordion > section p {
  margin: 10px 0;
  padding: 0;
}

.toggle_text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #777E91;
  align-items: center;
}

.faq_button_strokes svg {
  margin-top: 1.5rem;
  width: 117px;
  height: 40px;
}

/*bid*/
.bid_container {
  display: flex;
  justify-content: space-between;
}

.bid_item {
  width: 24rem;
  height: 30.3rem;
  background: #CDB4DB;
  border-radius: 1.6rem;
  margin-bottom: 22rem;
}

.bid_item img {
  border-radius: 1.6rem;
}

.bid_item_block_3 svg {
  width: 2rem;
  height: 2rem;
  align-items: center;
}

.bid_item_block_3 p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #777E91;
}

.bid_text {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.01em;
  color: #FCFCFD;
}

.bid_description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bid_description svg:last-child {
  width: 4rem;
}

.bid_description svg:first-child {
  width: 2.4rem;
  margin-right: 3rem;
}

.bid_item_block_1 svg {
  width: 68px;
  height: 26px;
  align-items: center;
  margin-left: auto;
  margin-top: 0.7rem;
}

.bid_item_block_1 {
  align-items: center;
  margin-bottom: 0.7rem;
}

.bid_item_block_2 {
  border-bottom: 0.1rem solid #777E90;
  margin-bottom: 0.7rem;
  align-items: center;
  padding: 0.5rem 0;
}